{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ category.name }}
{% endblock %}

{% block content %}
  <div class="p-6 border rounded-lg shadow-lg">
    <!-- Изображение категории -->
    {% if category.image %}
      <img src="{{ category.image.url }}" alt="{{ category.name }}" class="mb-4 rounded-lg" />
    {% endif %}

    <div class="relative">
      <!-- Название категории -->
      <div class="flex items-center mb-2">
        <h1 id="category-name" class="text-2xl font-bold flex items-center">
          {{ category.name }}
          <button id="add-to-favorites-button" data-category-id="{{ category.id }}" class="ml-2 bg-transparent text-yellow-500 text-xl p-2 rounded hover:text-yellow-600 focus:outline-none"><i class="fa-star" id="favorite-icon"></i></button>
        </h1>
      </div>
      <!-- Кнопка добавления в избранное -->
      <button id="add-to-favorites-button" data-category-id="{{ category.id }}" class="absolute top-0 right-0 bg-transparent text-yellow-500 text-xl p-2 rounded hover:text-yellow-600 focus:outline-none"><i class="fa-star" id="favorite-icon"></i></button>
    </div>

    <!-- Список подкатегорий -->
    {% if subcategories %}
      <div class="mb-6">
        <h2 class="text-xl font-semibold mb-2">Подкатегории</h2>
        <ul class="space-y-2">
          {% for subcategory in subcategories %}
            <li>
              <a href="{{ subcategory.get_absolute_url }}" class="block p-2 border rounded-lg hover:bg-gray-100"><span class="font-semibold">{{ subcategory.name }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <!-- Список товаров -->
    <div>
      <h2 class="text-xl font-semibold mb-2">Популярные товары</h2>
      <ul class="space-y-2">
        {% for product in products %}
          <li>
            <a href="{{ product.get_absolute_url }}" class="block p-2 border rounded-lg hover:bg-gray-100"><span class="font-semibold">{{ product.name }}</span> - {{ product.category.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Ссылка на все товары категории -->
    <div class="mt-4">
      <a href="{{ category.get_absolute_url }}" class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Смотреть все товары</a>
    </div>
  </div>
  <script type="module" src="{% static 'js/smartpick/utils/categoryPage.js' %}"></script>
{% endblock %}
