{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="product-details">
    <div class="flex items-center mb-2">
      <h1 id="product-name" class="text-2xl font-bold flex items-center">
        {{ product.name }}
        <button id="add-to-favorites-button" data-product-id="{{ product.id }}" class="ml-2 bg-transparent text-yellow-500 text-xl p-2 rounded hover:text-yellow-600 focus:outline-none"><i class="fa-star" id="favorite-icon"></i></button>
      </h1>
    </div>

    <!-- Контейнер для изображения и информации -->
    <div class="product-main-container">
      <!-- Блок для отображения изображения товара -->
      <div id="product-image-container">
        <div id="image-loader" class="loader-container">
          <div class="loader"></div>
        </div>
      </div>

      <!-- Информация о товаре -->
      <div class="product-info">
        <p>
          <strong>Категория:</strong> <span id="product-category"></span>
        </p>
        <p>
          <strong>Бренд:</strong> <span id="product-brand"></span>
        </p>
        <p>
          <strong>Артикул производителя:</strong> <span id="product-vendor-code"></span>
        </p>

        <!-- Описание товара с возможностью развернуть полностью -->
        <div class="product-description-container">
          <p>
            <strong>Описание:</strong> <span class="product-description" id="product-description"></span>
          </p>
          <button class="btn-toggle-description">Показать полностью</button>
        </div>
      </div>
    </div>
    <!-- Блок с характеристиками товара -->
    <div class="product-specs">
      <div id="specs-loader" class="loader-container">
        <div class="loader"></div>
      </div>
      <h3>Характеристики товара:</h3>
      <ul id="product-options" class="hidden">
        <!-- Характеристики будут добавлены динамически -->
      </ul>
    </div>

    <div class="review-bar-heading">
      <div class="heading">
        <div class="tooltip">
          ?
          <span class="tooltiptext">Информация о рейтингах и отзывах</span>
        </div>
      </div>
      <div class="heading">
        <h3>Позитивные аспекты</h3>
      </div>
      <div class="heading">
        <h3>Негативные аспекты</h3>
      </div>
    </div>

    <div class="aggregated-reviews">
      {% if aggregated_reviews %}
        {% for aggregated_review in aggregated_reviews %}
          <div class="review-bar">
            <div class="review-info">
              <p>
                <strong>Рейтинг:</strong> {{ aggregated_review.avg_rating|floatformat:1 }}
              </p>
              <p>
                <strong>Кол-во предложений:</strong> {{ aggregated_review.sentence_count }}
              </p>
            </div>
            <div class="review-positive">
              <div class="text-container">
                {% if aggregated_review.positive_reviews %}
                  <p>{{ aggregated_review.positive_reviews.0 }}</p>
                  <div class="more-content">
                    {% for review in aggregated_review.positive_reviews|slice:'1:15' %}
                      <p class="hidden">{{ review }}</p>
                    {% endfor %}
                  </div>
                {% else %}
                  <p>Позитивные отзывы отсутствуют.</p>
                {% endif %}
                {% if aggregated_review.positive_reviews|length > 1 %}
                  <button class="btn-more" onclick="showMore(this)">+</button>
                {% endif %}
              </div>
            </div>

            <div class="review-negative">
              <div class="text-container">
                {% if aggregated_review.negative_reviews %}
                  <p>{{ aggregated_review.negative_reviews.0 }}</p>
                  <div class="more-content">
                    {% for review in aggregated_review.negative_reviews|slice:'1:15' %}
                      <p class="hidden">{{ review }}</p>
                    {% endfor %}
                  </div>
                {% else %}
                  <p>Негативные отзывы отсутствуют.</p>
                {% endif %}
                {% if aggregated_review.negative_reviews|length > 1 %}
                  <button class="btn-more" onclick="showMore(this)">+</button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Нет доступных агрегированных отзывов.</p>
      {% endif %}
    </div>
  </div>
  <script type="module" src="{% static 'js/smartpick/utils/productPage.js' %}"></script>
  <script>
    window.PRODUCT_URL = '{{ product.url }}' // Передача URL продукта
  </script>
{% endblock %}
