{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Pick AI{% endblock %}</title>

    <!-- TailwindCSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Иконки -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/mini2.ico' %}" type="image/x-icon">
    
    <!-- Стили React -->
    {% render_bundle 'smartpick-project' 'css' %}
</head>
<body class="bg-gray-100 text-gray-800">

    <!-- React-компоненты встраиваются сюда -->
    <div id="root">
        <!-- Если React недоступен, можно оставить "заглушку" -->
        <noscript>
            <div class="text-center text-gray-500">
                Для корректной работы включите JavaScript в вашем браузере.
            </div>
        </noscript>
    </div>

    <!-- Django поддержка для контента без React -->
    {% block content %}
    {% endblock %}
    
    <!-- Подключение Webpack-бандлов React -->
    {% render_bundle 'smartpick-project' 'js' %}
    {% render_bundle 'smartpick-vendors' 'js' %}
</body>
</html>
