{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Smart Pick
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="icon" href="{% static 'images/mini2.ico' %}" type="image/x-icon" />
    {% render_bundle 'smartpick-styles' 'css' %}
  </head>
  <body class="bg-gray-100 text-gray-800">
    <div id="app" class="min-h-screen flex flex-col">
      <!-- Header -->
      <header class="bg-white shadow">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
          <a href="/" class="text-xl font-bold flex flex-col items-start no-select logo-link">
            <div class="logo-text text-4xl font-bold text-gray-900">
              <span class="mr-1">Smart</span>
              <span class="text-blue-600">Pick</span>
              <span class="ml-1">AI</span>
            </div>
            <div class="logo-subtext text-sm text-center mt-1">
              <span class="text-blue-600 font-bold">&mdash;</span>
              CHOOSE WISELY
              <span class="text-blue-600 font-bold">&mdash;</span>
            </div>
          </a>

          <!-- Search Bar -->
          <div id="search-bar-container" class="relative w-80">
            <input 
                type="text" 
                id="search-input" 
                placeholder="Поиск категорий и товаров..." 
                class="w-full p-2 pr-10 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" 
                autocomplete="off"
            />
            <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 4a6 6 0 100 12 6 6 0 000-12zM21 21l-5.75-5.75" />
                </svg>
            </div>

            <!-- Results Container -->
            <div id="search-results" class="absolute z-50 w-full bg-white shadow-lg mt-2 max-h-60 overflow-y-auto hidden"></div>
          </div>

          <!-- Navigation -->
          <nav class="ml-6 sticky-menu">
            <ul class="flex space-x-4">
              <li>
                <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">Главная</a>
              </li>
              <li>
                <a href="{% url 'products' %}" class="nav-link {% if request.path == '/products/' %}active{% endif %}">Товары</a>
              </li>
              <li>
                <a href="{% url 'categories' %}" class="nav-link {% if request.path == '/categories/' %}active{% endif %}">Категории</a>
              </li>
              <li>
                <a href="{% url 'profile' %}" class="nav-link {% if request.path == '/profile/' %}active{% endif %}">Личный Кабинет</a>
              </li>
            </ul>
          </nav>
        </div>
        <a href="https://fasie.ru/" class="absolute top-0 right-0 p-2 bg-gray-200 shadow-lg rounded-md flex items-center space-x-2 text-sm text-gray-800 hover:bg-gray-300 transition duration-300 no-underline">
          <img src="{% static 'images/fasie.png' %}" alt="Фонд содействия инновациям" class="h-8 w-auto" />
          <div class="flex flex-col items-start">
            <span class="font-bold">При поддержке</span>
            <span class="text-blue-600 font-bold">Фонд-М</span>
          </div>
        </a>
      </header>

      <!-- Main Content -->
      <main class="container mx-auto px-4 py-6 flex-1">
        <div id="dashboard" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <!-- React-компоненты будут загружены здесь -->
        </div>
        <!-- Проверка на технические работы -->
        {% if maintenance_mode %}
          <!-- Блок технических работ -->
          <div class="flex items-center justify-center min-h-screen bg-gray-200">
            <div class="text-center">
              <h1 class="text-4xl font-bold mb-4">Ведутся технические работы</h1>
              <p class="text-lg">Пожалуйста, зайдите позже.</p>
            </div>
          </div>
        {% else %}
          {% block content %}

          {% endblock %}
        {% endif %}
      </main>

      <!-- Footer -->
      <footer class="bg-white shadow mt-8">
        <div class="container mx-auto px-4 py-4 text-center text-gray-600">© 2024 Smart Pick. Все права защищены.</div>
      </footer>
    </div>

    <!-- Подключение сгенерированных Webpack бандлов -->
    {% render_bundle 'smartpick-project' 'js' %}
    {% render_bundle 'smartpick-vendors' 'js' %}
  </body>
</html>