@import '../globals.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.hover-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
html {
  scroll-behavior: smooth;
}

/* Home.css (пример стилей для компонента) */

.home-container {
  font-family: Arial, sans-serif;
}

.home-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1em;
}

.nav-links a:hover {
  text-decoration: underline;
}

.home-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-content h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

